Llamamos las librerias

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

Leemos el data base

In [ ]:
df = pd.read_csv('/content/Folds5x2_pp-_2_.csv',sep=',',index_col=None)
df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

quitamos la ultima columna

In [ ]:

# X = feature values, all the columns except the last column
X = df.iloc[:, :-1]

# y = target values, last column of the data frame
y = df.iloc[:, -1]

print(X.shape)
print(y.shape)

(9568, 4)
(9568,)

dividimos el data base para tener nuestro Train y Test

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

Aplicamos el modelo de regresion lineal

In [ ]:
model = LinearRegression(normalize=True)
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

miramos las predicciones del modelo

In [ ]:
y_pred=model.predict(x_test)
print(y_pred)
print(model.predict([[8.34, 40.77, 1010.84, 90.01]]))
print(model.coef_)
print(model.intercept_)

[457.25522108 466.71927366 440.36694911 ... 476.40502919 424.61609708
 463.91141143]
[477.05784336]
[-1.96874028 -0.23852978  0.05697873 -0.15933335]
459.9472128958718

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9321860060402446

Punto 2

Quitamos las columna V que es la unica que no es necesaria

In [ ]:
df2 = df.drop(['V'], axis=1)
df2.head()

      AT       AP     RH      PE
0  14.96  1024.07  73.17  463.26
1  25.18  1020.04  59.08  444.37
2   5.11  1012.16  92.14  488.56
3  20.86  1010.24  76.64  446.48
4  10.82  1009.23  96.62  473.90

Nuevamente quitamos la ultima columna

In [ ]:
# X = feature values, all the columns except the last column
X2 = df2.iloc[:, :-1]

# y = target values, last column of the data frame
y2 = df2.iloc[:, -1]

print(X2.shape)
print(y2.shape)

(9568, 3)
(9568,)

volvemos a dividir el data base para tener nuestro data y train

In [ ]:
x2_train, x2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.2, random_state=1)

aplicamos el modelo de regresion lineal

In [ ]:
model2 = LinearRegression(normalize=True)
model2.fit(x2_train, y2_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

miramos las predicciones del modelo.

In [ ]:
y2_pred=model2.predict(x2_test)
print(y2_pred)
print(model2.predict([[8.34, 1010.84, 90.01]]))
print(model2.coef_)
print(model2.intercept_)

[455.3528856  466.35832949 442.5785253  ... 476.03733841 424.61747712
 462.79985939]
[477.76334408]
[-2.37799479  0.01939627 -0.20619396]
496.54881856254076

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9321860060402446